In [27]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
links = pd.read_csv('ml-latest-small/links.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')
tags = pd.read_csv('ml-latest-small/tags.csv')

In [153]:
movieID_ratings = pd.merge(movies, ratings, on='movieId')

In [135]:
movieID_ratings.title.str.split(' ')[0]

df['prod_type'] = df['prod_type'].apply(lambda x: x.replace('respon', 'responsvie'))

['Toy', 'Story', '(1995)']

In [137]:
movieID_ratings_co.head(2)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962

In [159]:
Movies_ratings = movieID_ratings.copy()
Movies_ratings['Year'] = Movies_ratings['title'].str.extract('\((\d{4})\)')
Movies_ratings['Movie'] = Movies_ratings['title'].str.replace('\((\d{4})\)','', regex=True)
Movies_ratings=Movies_ratings.drop(columns=['title','timestamp'])
Movies_ratings=Movies_ratings.rename(columns={'movieId':'Movie_Id','genres':'Genres','userId':'User_Id','rating':'Rating','Year':'Release_Year'})
Movies_ratings = Movies_ratings.reindex(columns=['Movie_Id', 'Movie', 'Release_Year', 'Genres','User_Id','Rating'])
Movies_ratings

,Movie_Id,Movie,Release_Year,Genres,User_Id,Rating
0,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,1,4.0
1,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,5,4.0
2,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,7,4.5
3,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,15,2.5
4,1,Toy Story,1995,Adventure|Animation|Children|Comedy|Fantasy,17,4.5
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic,2017,Action|Animation|Comedy|Fantasy,184,4.0
100832,193583,No Game No Life: Zero,2017,Animation|Comedy|Fantasy,184,3.5
100833,193585,Flint,2017,Drama,184,3.5
100834,193587,Bungo Stray Dogs: Dead Apple,2018,Action|Animation,184,3.5
100835,193609,Andrew Dice Clay: Dice Rules,1991,Comedy,331,4.0

In [155]:
movieID_ratings_co=movieID_ratings_co.drop(columns=['title','timestamp'])

In [156]:
movieID_ratings_co=movieID_ratings_co.rename(columns={'movieId':'Movie_Id','genres':'Genres','userId':'User_Id','rating':'Rating','Year':'Release_Year'})
movieID_ratings_co

,Movie_Id,Genres,User_Id,Rating,Release_Year,Movie
0,1,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,1995,Toy Story
1,1,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,1995,Toy Story
2,1,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1995,Toy Story
3,1,Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1995,Toy Story
4,1,Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1995,Toy Story
...,...,...,...,...,...,...
100831,193581,Action|Animation|Comedy|Fantasy,184,4.0,2017,Black Butler: Book of the Atlantic
100832,193583,Animation|Comedy|Fantasy,184,3.5,2017,No Game No Life: Zero
100833,193585,Drama,184,3.5,2017,Flint
100834,193587,Action|Animation,184,3.5,2018,Bungo Stray Dogs: Dead Apple
100835,193609,Comedy,331,4.0,1991,Andrew Dice Clay: Dice Rules

In [24]:
users_items = pd.pivot_table(data=movieID_ratings,
                             values='rating',
                             index='userId',
                             columns='movieId')

In [25]:
users_items.fillna(0, inplace=True)
users_items

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
user_similarities = pd.DataFrame(cosine_similarity(users_items),
                                columns=users_items.index,
                                index=users_items.index)

In [31]:
user_id=1

weights = (
    user_similarities
    .query('userId!=@user_id')[user_id]
    / sum(user_similarities
          .query('userId!=@user_id')[user_id])
)

weights

userId
2      0.000336
3      0.000736
4      0.002395
5      0.001590
6      0.001579
         ...
606    0.002023
607    0.003319
608    0.003587
609    0.001153
610    0.001791
Name: 1, Length: 609, dtype: float64

In [50]:
not_seen_movies = (
    users_items
    .loc[users_items.index!=user_id, users_items.loc[user_id,:]==0]
)
not_seen_movies

movieId,2,4,5,7,8,9,10,11,12,13,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,3.0,5.0,4.0,3.0,0.0,3.0,4.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,2.5,0.0,0.0,0.0,2.5,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
weighted_averages = (
    pd.DataFrame(not_seen_movies
                .T.dot(weights), columns=['predicted_rating'])
)
weighted_averages.head(2)

         predicted_rating
movieId
2                0.842127
4                0.027652

In [37]:
  recommendations_for_user = (
      weighted_averages
      .merge(movies, left_index=True, right_on = 'movieId')
  )
recommendations_for_user

,predicted_rating,movieId,title,genres
1,0.842127,2,Jumanji (1995),Adventure|Children|Fantasy
3,0.027652,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,0.275115,5,Father of the Bride Part II (1995),Comedy
6,0.321403,7,Sabrina (1995),Comedy|Romance
7,0.046876,8,Tom and Huck (1995),Adventure|Children
...,...,...,...,...
9737,0.000286,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,0.000250,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,0.000250,193585,Flint (2017),Drama
9740,0.000250,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,0.002973,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [ ]:
movieID_ratings = pd.merge(movies, ratings, on='movieId')
movieID_ratings

In [169]:


n = 5
user_id = 4


def recommendations(n, user_id):
    users_items = pd.pivot_table(data=movieID_ratings,
                               values='rating',
                               index='userId',
                               columns='movieId')
    users_items.fillna(0, 
                        inplace=True)
    user_similarities = pd.DataFrame(cosine_similarity(users_items),
                                   columns=users_items.index,
                                   index=users_items.index)

    weights = (
        user_similarities
        .query('userId!=@user_id')[user_id]
        / sum(user_similarities
        .query('userId!=@user_id')[user_id])
      )

    not_seen_movies = (
        users_items
        .loc[users_items.index!=user_id
             ,users_items.loc[user_id,:]==0]
    )

    weighted_averages = (
        pd.DataFrame(not_seen_movies.T.dot(weights), 
                     columns=['predicted_rating'])
    )


    recommendations_for_user = (
        weighted_averages
        .merge(movies, left_index=True, right_on = 'movieId')
    )

    return (
        recommendations_for_user
        .sort_values('predicted_rating', ascending=False)
        .head(n)[['predicted_rating','title']]
  )


recommendations(n,user_id)

     predicted_rating                             title
277          2.636930  Shawshank Redemption, The (1994)
314          2.593046               Forrest Gump (1994)
46           1.976829        Usual Suspects, The (1995)
659          1.970388             Godfather, The (1972)
461          1.949681           Schindler's List (1993)

In [168]:


n = 5
user_id = 4


def recommendations(n, user_id):
    users_items = pd.pivot_table(data=movieID_ratings,
                               values='rating',
                               index='userId',
                               columns='movieId')
    users_items.fillna(0, 
                        inplace=True)
    user_similarities = pd.DataFrame(cosine_similarity(users_items),
                                   columns=users_items.index,
                                   index=users_items.index)

    weights = (
        user_similarities
        .query('userId!=@user_id')[user_id]
        / sum(user_similarities
        .query('userId!=@user_id')[user_id])
      )

    not_seen_movies = (
        users_items
        .loc[users_items.index!=user_id
             ,users_items.loc[user_id,:]==0]
    )

    weighted_averages = (
        pd.DataFrame(not_seen_movies.T.dot(weights), 
                     columns=['predicted_rating'])
    )


    recommendations_for_user = (
        weighted_averages
        .merge(movies, left_index=True, right_on = 'movieId')
    )

    return (
        recommendations_for_user
        .sort_values('predicted_rating', ascending=False)
        .head(n)[['predicted_rating','title']]
  )


recommendations(n,user_id)

     predicted_rating                             title
277          2.636930  Shawshank Redemption, The (1994)
314          2.593046               Forrest Gump (1994)
46           1.976829        Usual Suspects, The (1995)
659          1.970388             Godfather, The (1972)
461          1.949681           Schindler's List (1993)

In [125]:
def chat_bot():
    print("Hi! I'm your personal recommender. Tell me your userID.\n")
    user_id = int(input())
    print('\nHow many movie recommendations you want?\n')
    n = int(input())
    recom = recommendations( n, user_id)
    print(f"\nYou will probably like the following movies:\n")
    for i in recom['title']:
        print(i)
    
chat_bot()

Hi! I'm your personal recommender. Tell me your userID.

 10

How many movie recommendations you want?

 10

You will probably like the following movies:

Shawshank Redemption, The (1994)
Star Wars: Episode IV - A New Hope (1977)
Silence of the Lambs, The (1991)
Star Wars: Episode V - The Empire Strikes Back (1980)
Inception (2010)
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Pirates of the Caribbean: The Curse of the Black Pearl (2003)
Schindler's List (1993)
Memento (2000)
Star Wars: Episode VI - Return of the Jedi (1983)

In [128]:
def chat_bot():
    print("Hi! I'm your personal recommender. Tell me your userID.\n")
    user_id = int(input())
    print('\nHow many movie recommendations you want?\n')
    n = int(input())
    recom = recommendations( n, user_id)
    print(f"\nYou will probably like the following movies:\n")
    display(recom[['title']])
    
chat_bot()

Hi! I'm your personal recommender. Tell me your userID.

 2

How many movie recommendations you want?

 3

You will probably like the following movies:

                    title
1939   Matrix, The (1999)
314   Forrest Gump (1994)
2226    Fight Club (1999)

In [165]:
users_items = pd.pivot_table(data=movieID_ratings,
                               values='rating',
                               index='userId',
                               columns='movieId')
users_items.fillna(0, 
                        inplace=True)
user_similarities = pd.DataFrame(cosine_similarity(users_items),
                                   columns=users_items.index,
                                   index=users_items.index)

weights = (
        user_similarities
        .query('userId!=@user_id')[user_id]
        / sum(user_similarities
        .query('userId!=@user_id')[user_id])
      )

not_seen_movies = (
        users_items
        .loc[users_items.index!=user_id
             ,users_items.loc[user_id,:]==0]
    )
weighted_averages = (
        pd.DataFrame(not_seen_movies.T.dot(weights), 
                     columns=['predicted_rating'])
    )
recommendations_for_user = (
        weighted_averages
        .merge(movies, left_index=True, right_on = 'movieId')
    )

In [166]:
recommendations_for_user

,predicted_rating,movieId,title,genres
0,1.799827,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,0.761415,2,Jumanji (1995),Adventure|Children|Fantasy
2,0.355711,3,Grumpier Old Men (1995),Comedy|Romance
3,0.032230,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,0.267401,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
9737,0.000695,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,0.000608,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,0.000608,193585,Flint (2017),Drama
9740,0.000608,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,0.004883,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [167]:
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy